<h1><%= @student.to_s %></h1>
<p>This student is currently <%= @student.active ? "active":"inactive" %>.</p>
<a href="/students/<%= @student.id %>/activate"><%= @student.active ? "Deactivate":"Activate" %></a>
